<div class="row mt-5">
  <div class="col-6">
    <img src="https://www.asicentral.com/media/27173/new-employee-616.jpg" alt="new-employee">
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <h2 class="my-3 text-center text-primary">New Employee</h2>
        <form action="">
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" id="name" class="form-control">
          </div>
          <div class="mb-3">
            <label for="age" class="form-label">Age</label>
            <input type="text" id="age" class="form-control">
          </div>
          <div class="float-end">
            <button class="btn btn-sm btn-secondary" type="submit">Saves</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
